.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #141D2F;
    height: 100px;
    
    a {
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: aquamarine;
        }
    }

    img {
        height: 80px;
        border-radius: 100%;
        background-color: lightgray;
    }
}

.nav-links {
    display: flex;
    font-size: 23px;
    gap: 29px;
    
    a {
        color: #fff;
        text-decoration: none;
    }
}